[Unit]
Description=Cloudflare Tunnel Daemon for zeshannasir.com
After=network-online.target
Wants=network-online.target

[Service]
Type=notify
ExecStart=/usr/local/bin/cloudflared --config /etc/cloudflared/tunnel.yml run
Restart=on-failure
RestartSec=5s
LimitNOFILE=65536
User=cloudflared
Group=cloudflared

[Install]
WantedBy=multi-user.target
